.dateRangPicker {
  margin: auto;
  align-items: center;
  padding: auto;
}

.Popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.PopupInner {
  position: relative;
  padding: 32px;
  width: fit-content;
  background-color: white;
  height: 640px;
  border-radius: 20px;
}

.PopupInner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}
