@import "variable";
.home {
    height: 100vh;
    .wrap {
        position: relative;
    }
    .header {
        height: 60px;
        box-shadow: $box-shadow;
        background-color: $white-color;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        ul {
            padding-left: 0;
            list-style: none;
            margin: 0;
            display: flex;
            justify-content: flex-start;
            max-width: 30%;
        }
        li {
            transition: $linear-3;
            a {
                transition: $linear-3;
                color: $text-color;
                text-decoration: none;
                height: 60px;
                display: flex;
                align-items: center;
                padding: 0 20px;
                span {
                    margin-right: 10px;
                    font-size: 1.8rem;
                }
                .MuiSvgIcon-root {
                    font-size: 1.6rem;
                }
            }
            &:hover {
                background-color: $text-color;
                a {
                    color: $white-color;
                }
            }
        }
    }
}
