@import "variable";
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
    background-color: $grey-color;
    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        max-width: 500px;
        height: 100%;
        max-height: 300px;
        border: $border;
        padding: 20px;
        border-radius: 10px;
        box-shadow: $box-shadow;
        background-color: $white-color;
        h3 {
            text-align: center;
        }
        h3,
        label,
        input,
        .MuiInputBase-root {
            font-size: 1.6rem;
        }
        Button {
            font-size: 1.6rem;
        }
    }
    .error {
        position: absolute;
        top: 30px;
        right: 30px;
        h3 {
            font-size: 2rem;
            color: red;
        }
    }
}
