@import "variable";
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        max-width: 500px;
        height: 100%;
        max-height: 300px;
        h3 {
            text-align: center;
        }
        h3,
        label,
        input,
        .MuiInputBase-root {
            font-size: 1.6rem;
        }
        Button {
            font-size: 1.6rem;
        }
    }
}
