.reserve {
    .reserve-body {
        background-color: #F8F8F8;
        padding: 20px;
        .reserve-form-container {
            padding-top: 80px;
            justify-content: center;
            background-color: #FFF;
            display: flex;
        }
    }
}
