.reserve-form {
    margin: 0px 0px 30px 0px;
    background-color:  #fff;
    color: #000A43;
    text-align: center; 
    font-size: 15px;
    width: 40%;
    min-width: 350px;
    .form-1 {

        .check-table-form {
            margin-top: 30px;
            .form-row {
                margin-top: 10px;
                display: flex;
                justify-content: space-between; 
                .form-cell {
                    padding: 0px 8px;
                    width: 100%;
                    .MuiInputBase-root {
                        font-size: 1.6rem;
                    }
                    div {
                        width: 100%;
                    }
                }
            }
            .form-btn-row {
                padding: 8px;
                .form-btn {
                    margin-top: 10px;
                    width: 100%;
                    font-size: 14px;
                }
            }
        }
    }
    .form-2 {
        margin-top: 30px;
        .personal-info-form {
            margin-top: 30px;
            .form-row {
                margin-top: 10px;
                display: flex;
                justify-content: space-between; 
                .form-cell {
                    padding: 0px 8px;
                    width: 100%;
                    .MuiInputBase-root {
                        font-size: 1.6rem;
                    }
                    div {
                        width: 100%;
                    }
                }
            }
            .form-btn-row {
                padding: 8px;
                .form-btn {
                    margin-top: 10px;
                    width: 100%;
                    font-size: 14px;
                }
            }
        }
    }
}